#div1
{
    float:right;
}
#div1 *
{
    float:left;
    margin-right: 5px;
    font-size: small;
}

#div2
{
    float:right;
    margin-top: 10px;
}
#div2 *
{
    display: inline-block;
    margin-right: 10px;
}